{% extends "base_generic.html" %}

{% block content %}
  {% if forms %}
  <ul>
    {% for form in forms %}
      {% if form.ApprovedStatus == "approved" %}
        <li>{{form.LeaveFrom}}-{{form.LeaveTo}} {{form.ReasonForLeave}} {{form.DateOfApply}}
        </li>
        <a href="{% url 'leave_portal:leave_info' pk=form.id %}"><input type="button" value="View Form" /></a>
        <br>
        Status : Approved
      {% endif %}

      {% if form.ApprovedStatus == "declined" %}
        <li>{{form.LeaveFrom}}-{{form.LeaveTo}} {{form.ReasonForLeave}} {{form.DateOfApply}}
        </li>
        <a href="{% url 'leave_portal:leave_info' pk=form.id %}"><input type="button" value="View Form" /></a>
        <br>
        Status : Declined
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>Sorry but you have not filled any forms yet!!!</p>
  {% endif %}
{% endblock %}
