@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700');

body{
	font-family: 'Lato', 'sans-serif';
  margin-left: 10px;
  margin-bottom:20px;
}

h1{
  font-weight:bold;
  text-align:center;
  color:#66CCCC;
  margin-bottom: -10px;
}
hr{
  align-items: center;
  background-color:#66CCCC;
}
