@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700');

body{
	font-family: 'Lato', 'sans-serif';
}
.navbar{
	background-color: rgb(229, 126, 49) !important;
	padding:0px;
}
.left-nav{
	background-color: #f8f9fa !important;
}
